@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md- image-col">
		<img src="@Html.DisplayFor(model => model.Image)" alt="Product iamge">
	</div>
	<div class="col-md-6 info-col">
		<div class="container">
			<div class="edit-remove">
		        <input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("Edit", new {id = Model.ProductId})'"/>
                <input type="button" class="btn btn-danger" value="Remove" onclick="location.href='@Url.Action("Remove", new {id = Model.ProductId})'"/>
            </div>
			<br>

			<h1 class="details-product-name">@Html.DisplayFor(model => model.Name) Details</h1>

            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Cost)</th>
                    <th>@Html.DisplayNameFor(model => model.Country)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                    <td>$@Html.DisplayFor(model => model.Cost)</td>
                    <td>@Html.DisplayFor(model => model.Country)</td>
                </tr>
            </table>
        </div>
	</div>
</div>

